<template name="header">
 <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- This is Squarespace. --><!-- real-waves-nlgl -->
<base href="">
<meta charset="utf-8" />
<title>KUZU</title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
<link rel="canonical" href="http://www.kuzu.fm/"/>
<meta property="og:site_name" content="KUZU"/>
<meta property="og:title" content="HOME"/>
<meta property="og:url" content="http://www.kuzu.fm/"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="KUZU 92.9FM is a community-programmed, non-commercial, LPFM station serving 
Denton, Texas."/>
<meta property="og:image" content="http://static1.squarespace.com/static/56d75c78356fb0d6f3fcaaf3/t/56d7a4547da24f51d8f8312f/1456972887326/GLOBE2.jpg?format=1000w"/>
<meta property="og:image:width" content="1000"/>
<meta property="og:image:height" content="1000"/>
<meta itemprop="name" content="HOME"/>
<meta itemprop="url" content="http://www.kuzu.fm/"/>
<meta itemprop="description" content="KUZU 92.9FM is a community-programmed, non-commercial, LPFM station serving 
Denton, Texas."/>
<meta itemprop="thumbnailUrl" content="http://static1.squarespace.com/static/56d75c78356fb0d6f3fcaaf3/t/56d7a4547da24f51d8f8312f/1456972887326/GLOBE2.jpg?format=1000w"/>
<link rel="image_src" href="http://static1.squarespace.com/static/56d75c78356fb0d6f3fcaaf3/t/56d7a4547da24f51d8f8312f/1456972887326/GLOBE2.jpg?format=1000w" />
<meta itemprop="image" content="http://static1.squarespace.com/static/56d75c78356fb0d6f3fcaaf3/t/56d7a4547da24f51d8f8312f/1456972887326/GLOBE2.jpg?format=1000w"/>
<meta name="twitter:title" content="HOME"/>
<meta name="twitter:image" content="http://static1.squarespace.com/static/56d75c78356fb0d6f3fcaaf3/t/56d7a4547da24f51d8f8312f/1456972887326/GLOBE2.jpg?format=1000w"/>
<meta name="twitter:url" content="http://www.kuzu.fm/"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:description" content="KUZU 92.9FM is a community-programmed, non-commercial, LPFM station serving 
Denton, Texas."/>
<meta name="description" content="KUZU 92.9FM is a community-programmed, non-commercial, LPFM station serving 
Denton, Texas." />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abel:400|Source+Code+Pro:400,700,500,300"/>

  </head>  
  <!-- NEW NAV -->
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          {{#if currentUser.isAdmin}}
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{pathFor 'adminUsers'}}">Users</a></li>
                <li><a href="{{pathFor 'adminShows'}}">Shows</a></li>
                <li><a href="{{pathFor 'adminTracks'}}">Tracks</a></li>
                <!--<li><a href="{{pathFor 'producers'}}">Show Archive</a></li>-->
                <li><a href="{{pathFor 'adminProducers'}}">Producers</a></li>
                <!--<li><a href="{{pathFor 'producers'}}">Artists</a></li>
                <li><a href="{{pathFor 'producers'}}">Events</a></li>-->
                <!--<li><a href="{{pathFor 'productionstatus'}}">Add Production Status</a></li>-->
                <li><a href="{{pathFor 'adminProductionStatuses'}}">Kuzu Statuses</a></li>
              </ul>
            </li>
          {{/if}}
            {{#if currentUser.isProducer}}
              <li><a href="{{pathFor 'producerProfile'}}">Producer Profile</a></li>
              <li><a href="{{pathFor 'producerShows'}}">My Shows</a></li>
            {{/if}}
            {{#if currentUser}}
            <li><a href="{{pathFor 'featureRequests'}}">Feature Requests</a></li>
            <li><a href="{{pathFor 'kuzuStats'}}">Listener Stats</a></li>
            {{/if}}
            <li>
             <a>{{> loginButtons}}</a>
            </li>
          </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</template>

