<template name="header">
 <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- This is Squarespace. --><!-- real-waves-nlgl -->
<base href="">
<meta charset="utf-8" />
<title>KUZU</title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
<link rel="canonical" href="http://www.kuzu.fm/"/>
<meta property="og:site_name" content="KUZU"/>
<meta property="og:title" content="HOME"/>
<meta property="og:url" content="http://www.kuzu.fm/"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="KUZU 92.9FM is a community-programmed, non-commercial, LPFM station serving 
Denton, Texas."/>
<meta property="og:image" content="http://static1.squarespace.com/static/56d75c78356fb0d6f3fcaaf3/t/56d7a4547da24f51d8f8312f/1456972887326/GLOBE2.jpg?format=1000w"/>
<meta property="og:image:width" content="1000"/>
<meta property="og:image:height" content="1000"/>
<meta itemprop="name" content="HOME"/>
<meta itemprop="url" content="http://www.kuzu.fm/"/>
<meta itemprop="description" content="KUZU 92.9FM is a community-programmed, non-commercial, LPFM station serving 
Denton, Texas."/>
<meta itemprop="thumbnailUrl" content="http://static1.squarespace.com/static/56d75c78356fb0d6f3fcaaf3/t/56d7a4547da24f51d8f8312f/1456972887326/GLOBE2.jpg?format=1000w"/>
<link rel="image_src" href="http://static1.squarespace.com/static/56d75c78356fb0d6f3fcaaf3/t/56d7a4547da24f51d8f8312f/1456972887326/GLOBE2.jpg?format=1000w" />
<meta itemprop="image" content="http://static1.squarespace.com/static/56d75c78356fb0d6f3fcaaf3/t/56d7a4547da24f51d8f8312f/1456972887326/GLOBE2.jpg?format=1000w"/>
<meta name="twitter:title" content="HOME"/>
<meta name="twitter:image" content="http://static1.squarespace.com/static/56d75c78356fb0d6f3fcaaf3/t/56d7a4547da24f51d8f8312f/1456972887326/GLOBE2.jpg?format=1000w"/>
<meta name="twitter:url" content="http://www.kuzu.fm/"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:description" content="KUZU 92.9FM is a community-programmed, non-commercial, LPFM station serving 
Denton, Texas."/>
<meta name="description" content="KUZU 92.9FM is a community-programmed, non-commercial, LPFM station serving 
Denton, Texas." />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abel:400|Source+Code+Pro:400,700,500,300"/>

<script type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","url":"http://www.kuzu.fm","name":"KUZU","description":"<p>KUZU 92.9FM is a community-programmed, non-commercial, LPFM station serving Denton, Texas.</p>","image":"//static1.squarespace.com/static/56d75c78356fb0d6f3fcaaf3/t/56d7a3268259b52763effb89/1504845847858/"}</script><script type="application/ld+json">{"@context":"http://schema.org","@type":"Organization","legalName":"REAL WAVES RADIO NETWORK","email":"admin@kuzu.fm","telephone":""}</script>

  </head>
  
    <div id="site container">
      <header id="header" role="banner">
        <div class="header-inner">
          <div id="logoWrapper" class="title-logo-wrapper" data-content-field="site-title">
            
              <h1 id="logoImage" class="tmpl-loading logo-image"><a href="/"><img src="//static1.squarespace.com/static/56d75c78356fb0d6f3fcaaf3/t/56d7a3268259b52763effb89/1504845847858/?format=1500w" alt="KUZU" /></a>
              </h1>
          </div>
          </div>
    

  <!-- Navigation -->
  <div class="row">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav js-nav-add-active-class">
            <li class="active"><a href="{{pathFor 'home'}}" >Home</a></li>
            <li><a href="{{pathFor 'streaming'}}">Stream</a></li>
             <li class="dropdown">
              <a href="{{pathFor 'programs'}}" class="dropdown-toggle" data-toggle="dropdown">Programs <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{pathFor 'programs'}}">Programs</a></li>
                <li><a href="{{pathFor 'schedule'}}">Schedule</a></li>
                <li><a href="{{pathFor 'producers'}}">Producers Only</a></li>

              </ul>
            </li>
             <li class="dropdown">
              <a href="{{pathFor 'member'}}" class="dropdown-toggle" data-toggle="dropdown">Support <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{pathFor 'member'}}">Donate</a></li>
                <li><a href="{{pathFor 'gifts'}}">Buy Gifts</a></li>
                <li><a href="{{pathFor 'donatemusic'}}">Submit Local Music</a></li>

              </ul>
            </li>
               <li class="dropdown">
              <a href="{{pathFor 'volunteer'}}" class="dropdown-toggle" data-toggle="dropdown">Take Action <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{pathFor 'volunteer'}}">Volunteer</a></li>
                <li><a href="{{pathFor 'produce-a-show'}}">Produce A Show</a></li>
                <li><a href="{{pathFor 'underwrite'}}">Become An Underwriter</a></li>

              </ul>
            </li>
               <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social Media <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="https://www.facebook.com/KUZU929" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com/kuzu929" target="_blank">Twitter</a></li>
                <li><a href="https://www.instagram.com/kuzu929/" target="_blank">Instagram</a></li>

              </ul>
            </li>
            <li><a href="{{pathFor 'startshow'}}">Shows</a></li>
           
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tracks <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{pathFor 'tracklists'}}">My Tracks</a></li>
                <li><a href="{{pathFor 'alltracks'}}">All Tracks</a></li>
              </ul>
            </li>
                <li class="dropdown">
              <a href="{{pathFor 'mission'}}" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{pathFor 'Mission'}}" >Mission</a></li>
                <li><a href="{{pathFor 'lpfm'}}" >LPFM</a></li>
                <li><a href="{{pathFor 'supporters'}}">Supporters</a></li>
                <li><a href="{{pathFor 'boardmembers'}}">BoardMembers</a></li>
                <li><a href="{{pathFor 'contact'}}">Contact</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right hidden-xs">
            <a type="button" class="navbar-btn btn btn-gradient-blue" am-latosans="bold"><i class="glyphicon glyphicon-user"></i></a>{{> loginButtons}}

          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
  </div>
      </header>

      <div id="siteWrapper" class="clearfix">
      </div>
      </div>

      

</template>