<li class="active"><a href="{{pathFor 'home'}}">Home</a></li>
<li><a href="{{pathFor 'streaming'}}">Stream</a></li>
<li class="dropdown">
  <a href="{{pathFor 'programs'}}" class="dropdown-toggle" data-toggle="dropdown">Programs <b class="caret"></b></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{pathFor 'programs'}}">Programs</a></li>
    <li><a href="{{pathFor 'schedule'}}">Schedule</a></li>
    <li><a href="{{pathFor 'producers'}}">Producers Only</a></li>

  </ul>
</li>
<li class="dropdown">
  <a href="{{pathFor 'member'}}" class="dropdown-toggle" data-toggle="dropdown">Support <b class="caret"></b></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{pathFor 'member'}}">Donate</a></li>
    <li><a href="{{pathFor 'gifts'}}">Buy Gifts</a></li>
    <li><a href="{{pathFor 'donatemusic'}}">Submit Local Music</a></li>

  </ul>
</li>
<li class="dropdown">
  <a href="{{pathFor 'volunteer'}}" class="dropdown-toggle" data-toggle="dropdown">Take Action <b class="caret"></b></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{pathFor 'volunteer'}}">Volunteer</a></li>
    <li><a href="{{pathFor 'produce-a-show'}}">Produce A Show</a></li>
    <li><a href="{{pathFor 'underwrite'}}">Become An Underwriter</a></li>

  </ul>
</li>
</ul>
<div id="logoWrapper" class="title-logo-wrapper" data-content-field="site-title">

  <h1 id="logoImage" class="tmpl-loading logo-image"><a href="/"><img src="//static1.squarespace.com/static/56d75c78356fb0d6f3fcaaf3/t/56d7a3268259b52763effb89/1504845847858/?format=1500w"
        alt="KUZU" /></a>
  </h1>
</div>
<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social Media <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="https://www.facebook.com/KUZU929" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/kuzu929" target="_blank">Twitter</a></li>
      <li><a href="https://www.instagram.com/kuzu929/" target="_blank">Instagram</a></li>

    </ul>
  </li>-->