<template name="HomeLayout">
  {{> autoformModals}}
  {{> header}}
  {{#if currentUser}}
  {{#with armedShow}}
  <div style="background-color:#c0a821;margin-top:-21px;padding:15px 5px;text-align:center;">
    <h3>{{showName}} will autoplay soon after underwriting / call letter announcements.</h3>
  </div>
  {{/with}}
  {{#if isRadioLogikDown}}
  <div style="background-color:#c0a821;margin-top:-21px;padding:15px 5px;text-align:center;">
    <h3>RADIO LOGIK IS DOWN, FIX IT!!!!!</h3>
  </div>
  {{/if}}
  {{#unless $eq currentRouteName "liveShow"}}
  {{#with currentActiveShow}}
  <div style="background-color:#e7d0ba;margin-top:-21px;padding:15px 5px;">
    <a style="text-align:center;" href="{{#if currentUser.canLookAtLiveShow}}{{pathFor 'liveShow'}}{{/if}}">
      <div class="container">
        <h3 style="color:#333;margin-top:10px;">{{showName}} is Live from {{prettifySimpleTime showStart}} -
          {{prettifySimpleTime showEnd}}!</h3>
      </div>
    </a>
  </div>
  {{/with}}
  {{/unless}}
  <div id="siteWrapper" class="clearfix">
  </div>
  {{> MainLayout }}

  {{> Footer}}
  {{/if}}
</template>